@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col">
        <h2>JavaScript</h2>
        <ul>
            <li><a asp-page="/AlertPage">Alert</a></li>
            <li><a asp-page="/DataTypes">DataTypes</a></li>
            <li><a asp-page="/Functions">Functions</a></li>
            <li><a asp-page="/Objects">Objects</a></li>
            <li><a asp-page="/Asynchronous">Asynchronous</a></li>
            <li><a asp-page="/Ajax">Ajax</a></li>
            <li><a asp-page="/Json">Json</a></li>
            <li><a asp-page="/ErrorHandling">Error Handling</a></li>
            <li><a asp-page="/Storage">Browser Storage</a></li>
        </ul>
    </div>
</div>
@section Scripts {

}