@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to the .net learning by Irfan Sir.</h1>
    @await Component.InvokeAsync("Greeting");
</div>


<div class="text-center">
    <h1 class="display-4">@localizer["HelloWorld"]</h1>
    <p>@localizer["Welcome"]</p>
    <h3>From Controller:@ViewData["HelloWorld"]</h3>
</div>



