@model CreateStudentViewModel


<form method="post">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" class="form-control">
        <span asp-validation-for=Id class="form-text text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for=Name class="form-label"></label>
        <input asp-for=Name class="form-control">
        <span asp-validation-for=Name class="form-text text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for=Email class="form-label"></label>
        <input asp-for=Email class="form-control">
        <span asp-validation-for=Email class="form-text text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for=Phone class="form-label"></label>
        <input asp-for=Phone class="form-control">
        <span asp-validation-for=Phone class="form-text text-danger"></span>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>